<!DOCTYPE html>
<html>
<head>
    <title>Books Library</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Chris's Library 📚</h1>
    <ul>
        <% books.forEach(function(book) { %>
            <li>
                <h3 class="title"><%= book.title %></h3>
                <h3 class="year">(<%= book.year %>)</h3>
                <img src="<%= book.cover %>" alt="<%= book.title %> Cover">
                <p><%= book.description %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>
