<!DOCTYPE html>
<html>
<head>
    <title>Horros movies</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>The conjuring universe 🎥 👹</h1>
    <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                <h3><%= movie.name %></h3>
                <h3>(<%= movie.year %>)</h3>
                <img src="<%= movie.poster %>" alt="<%= movie.name %> Poster">
                <p><%= movie.description %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>
